* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

header {
  width: 100%;
  background-color: rgb(248, 0, 50);
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
header div {
  margin-left: 9%;
  color: white;
  border-top: solid 5px white;
  border-bottom: solid 5px white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  line-height: 25px;
}
main {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

#login-title {
  display: flex;
  justify-content: space-around;
  margin-top: 10vh;
  width: 60%;
  color: #666666;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}
#msg {
  color: #666666;
  font-family: Arial, Helvetica, sans-serif;
  overflow-wrap: break-word;
  text-align: center;
  margin-top: 2.5vh;
  font-size: 1rem;
}

form {
  margin-top: 3vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

label {
  display: flex;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  color: #666666;
  padding-top: 2vh;
  padding-bottom: 1vh;
}
.input-ok {
  background-position: right;
  font-size: 1rem;
  padding: 2% 0%;
  padding-left: 3%;
  border-radius: 10px;
  border: solid 1px gray;
}
.input-error {
  font-size: 1rem;
  padding: 2% 0%;
  padding-left: 3%;
  border-radius: 10px;
  border: solid 1px rgb(248, 0, 50);
}

input:focus {
  outline-style: none;
  border: solid 1px rgb(0, 177, 00);
}
small {
  color: red;
  text-align: left;
  padding-top: 1vh;
}
.icon-input-ok {
  position: relative;
  left: 90%;
  bottom: 6vh;
  object-fit: fill;
  height: 30px;
  width: 30px;
}
.icon-input-error {
  position: relative;
  left: 90%;
  bottom: 8vh;
  object-fit: fill;
  height: 30px;
  width: 30px;
}
.icon-input-ok,
.icon-input-error:hover {
  cursor: pointer;
}

button {
  background-color: rgb(248, 0, 50);
  color: white;
  border-radius: 8px;
  padding: 12px;
  font-weight: 700;
  font-size: 1rem;
  border: none;
}
button:hover {
  cursor: pointer;
  background-color: rgb(235, 51, 67);
}

#link-registered {
  cursor: pointer;
}
